<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>{{ pageTitle }} - Parcel JS</title>

    <link rel="stylesheet" href="assets/scss/app.scss">
    <script type="module" src="assets/js/app.js" defer></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
